/*                 Setup                  */

/*               Borderbox                */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* clearfix */
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    clear: both;
    *zoom: 1;
  }
/*               End of Setup             */

/* Table Styles */

body{
    background-image: url('./Images/rsz_nrd-d6tu_l3chle-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

.container {
    max-width: 800px;
}

#shopTitle {
    background-color: white;
    border-bottom: 4px red solid;
    padding-left: 10px;
}

.fa-shopping-cart {
    padding-left: 10px;
    padding-top: 10px;
    color: red;
}

.table {
    background-color: white;
    margin-top: 150px;
}

.tableHead {
    background-color: turquoise;
}

.quantity-box{
    width:40px;
    text-align: right;
 }

#quantityHead {
    max-width: 50px;
}

#removeHead {
    max-width: 60px;
}

.item {
    font-weight: 800;
    text-align: left;  
}

.remove {
    text-align: center;
    max-width: 60px;
}

.remove > button {
    text-align: center;
    background-color: red;
    height: 30px;
    width: 40px;
    
}

.addItem {
    align-items: center;
}

#newItemDiv {
    display: flex;
    justify-content: space-around;
}


#totalDiv {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

#innerTotalDiv {
    
}

#totalDisplay {
    background-color: white;
    border: 2px red solid;
    padding: 10px;
}